	<footer class="container-fluid footer">
		<div class="row">
			<div class="col-md-12">
				<p>by Amir Golden</p>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="{{ global.request.basepath }}/js/getPosts.js"></script>
	<script src="{{ global.request.basepath }}/css/bootstrap/dist/js/bootstrap.min.js"></script>
	<script>
		$('.form-group ul').click(function() {
			$(this).hide();
		});
	</script>
