{% extends 'layout.twig' %}

{% block content %}
	{% embed 'website-content.twig' %}
		{% block innercontent %}
				<section class="col-md-12" id="profile">
					<div class="col-md-8 col-md-offset-2">
						{% include 'profile/profile-user.twig' %}
					</div>
				</section>
		{% endblock %}
	{% endembed %}
{% endblock %}