{#<img src="{{ global.request.basepath }}/img/app/avatar.jpg" alt="avatar" class="img-resp">#}
<img src={{ profile.image }} alt="avatar" class="img-resp">
<span>nickname</span>
<p class="profile-nickname">{{ profile.username }}</p>
<span>e-mail</span>
<p class="profile-email">{{ profile.email }}</p>
<span>about</span>
<p class="profile-about">Simple user.</p>